@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/vars.scss';


.content {
  width: 100%;
  text-align: center;
  color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: $Label;
  }

  .characterListContainer {
    display: flex;
  }
}

@media only screen and (max-width: $Tablet) {
  .content {
    margin-top: indent(12);

    h1 {
      font-size: $MainInfo;
    }
  
    .characterListContainer {
      display: flex;
      margin: indent(12) 0;
    }
  }
}

@media only screen and (max-width: $Mobile) {
  .content {
    margin-top: indent(7);

    h1 {
      font-size: $Sublabel;
    }
  
    .characterListContainer {
      display: flex;
      margin: indent(2) 0;
    }
  }
}