@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.content {
  width: 100%;
  text-align: center;
  color: $blue;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  h1 {
    font-size: $LabelSize;
  }
}
