@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/vars.scss';

.content {
  width: 100%;
  text-align: center;
  color: $blue;
  margin-top: indent(14);
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-size: $Label;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    margin-top: indent(12);

    .buttons {
      flex-direction: column;
    }
  
    h1 {
      font-size: 70px;
      margin-bottom: indent(7);
    }
  }
}