@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/vars.scss';

.Content {
  width: 100%;
  text-align: center;
  color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  .RandomButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .Buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .Title {
    font-size: $Label;
    height: 250px;
    width: 650px;
  }

  .Bottom {
    margin-top: indent(12);
    width: 100%;
    height: 200px;
    flex-direction: row;

    p {
      font-size: 40px;
      margin: indent(2);
    }
  }
}

@media only screen and (max-width: $Tablet) {
  .Content {
    .Buttons {
      flex-direction: column;
    }
  
    .Title {
      font-size: $MainInfo;
      margin-bottom: indent(7);
      width: 100%;
      height: auto;
    }

    .Bottom {
      margin-top: indent(5);
      height: 100px;
  
      p {
        font-size: $Subtitle;
        margin: indent(1);
      }
    }
  }
}

@media only screen and (max-width: $Mobile) {
  .Content {  
    .Title {
      font-size: $Info;
      margin-bottom: indent(7);
    }

    .Bottom {
      margin-top: indent(1);
      height: 30px;
  
      p {
        font-size: $Description;
        margin: indent(1);
      }
    }
  }
}