@import './fonts/stylesheet.scss';

$PrimaryFont: 'Creepster';
$FallbackFont: 'Neucha';
$SecondaryFont: 'Courier New', Courier, monospace;

$Label: 90px;
$Subtitle: 25px;
$Title: 35px;
$Description: 20px;

$base-indent: 5px;