@import './fonts/stylesheet.scss';

$PrimaryFont: 'Creepster';
$FallbackFont: 'Neucha';
$SecondaryFont: 'Courier New', Courier, monospace;

$LabelSize: 90px;
$TextSize: 25px;
$TitleSize: 35px;
$DescriptionSize: 20px;