@import './fonts/stylesheet.scss';

$PrimaryFont: 'Creepster';
$FallbackFont: 'Neucha';
$SecondaryFont: 'Courier New', Courier, monospace;

$LargeLabel: 100px;
$Label: 90px;
$Sublabel: 50px;
$Title: 35px;
$CardRecord: 30px;
$Subtitle: 25px;
$Description: 20px;
