@import "styles/fonts.scss";
@import "styles/colors.scss";
@import "styles/vars.scss";

.Container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: $dark-gradient;

  .Button {
    display: flex;
    justify-content: center;
  }

  .Content {
    display: flex;
    height: 85%;
    flex-direction: row;

    .CharacterInfo {
      display: flex;
      overflow: hidden;
      width: 390px;
      height: 90%;
      flex-direction: column;
      border: 2px solid $blue;
      border-radius: 15px;
      margin: indent(18) indent(10) indent(10) indent(14);
      background: $dark-gradient;

      .Image {
        display: flex;
        justify-content: center;
      }

      .Info {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: indent(2);

        .Status,
 .Species,
 .Type,
 .Gender {
          padding-bottom: indent(3);
          color: $white;
          font-family: $SecondaryFont;
          font-size: $CardRecord;
        }

        .InfoBold {
          font-family: $SecondaryFont;
        }
      }
    }

    .CharacterDescription {
      width: 100%;
      margin-top: indent(14);

      .Name {
        color: $blue;
        font-size: $LargeLabel;
      }

      .Description {
        display: flex;
        flex: 2 1 0%;

        .Links {
          display: flex;
          width: 60%;
          flex-direction: column;
          justify-content: space-around;
          font-size: $Sublabel;

          a {
            color: white;
            font-family: $SecondaryFont;
            text-decoration: none;

            .Origin {
              font-family: $SecondaryFont;
            }
          }
        }

        .Episodes {
          display: flex;
          width: 100%;
          justify-content: center;

          .EpisodesContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $LargeTablet) {
  .Container {
    width: 100%;
    height: 100%;

    .Content {
      display: flex;
      height: 85%;
      flex-direction: column;
      justify-content: flex-end;

      .CharacterInfo {
        width: 85%;
        height: 120px;
        flex-direction: row;
        border-radius: 15px;
        margin: indent(4) auto;

        .Image {
          display: flex;
          justify-content: center;
        }

        .Info {
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 0 0 indent(2);

          .Status,
 .Species,
 .Type,
 .Gender {
            padding-bottom: 0;
            font-size: $Description;
          }

          .InfoBold {
            font-family: $SecondaryFont;
          }
        }
      }

      .CharacterDescription {
        width: 100%;
        margin-top: 0;

        .Name {
          display: flex;
          justify-content: center;
          margin: 0 indent(2);
          font-size: $Sublabel;
          text-align: center;
        }

        .Description {
          display: flex;
          flex-direction: column;

          .Links {
            display: flex;
            width: 100%;
            height: 55px;
            align-items: center;
            justify-content: space-around;
            margin-top: 0;
            margin-bottom: indent(5);
            margin-left: indent(2);
            font-size: $Description;

            a {
              margin-top: indent(2);
            }
          }
        }
      }
    }
  }
}
