@import 'styles/fonts.scss';
@import 'styles/colors.scss';

.Container {
  width: 100%;
  height: 100%;
  background: $dark-gradient;
  display: flex;
  flex-direction: column;

  .Button {
    display: flex;
    justify-content: center;
  }
  .Content {
    display: flex;
    flex-direction: row;
    height: 85%;

    .CharacterInfo {
      display: flex;
      flex-direction: column;
      width: 390px;
      height: 85%;
      border: 2px solid $blue;
      border-radius: 15px;
      margin: 50px;
      margin-left: 70px;
      background: $dark-gradient;
      overflow: hidden;

      .Image {
        display: flex;
        justify-content: center;
      }
  
      .Info {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        font-family: $SecondaryFont;
        font-size: $Subtitle;
        justify-content: center;
        align-items: flex-start;

        p {
          font-family: $SecondaryFont;
          font-size: 30px;
          color: $white;
          padding-bottom: 15px;
        }

        b {
          font-family: $SecondaryFont;
        }
      }
    }
  
    .CharacterDescription {
      width: 100%;
      margin-top: 70px;
      
      .Name {
        color: $blue;
        font-size: 100px;
      }
  
      .Description {
        display: flex;
        flex: 2 1 0%;

        .Links {
          color:  white;
          width: 60%;
          font-size: 50px;
          margin-top: 30px;
          padding-bottom: 30px;

          a {
            text-decoration: none;
            color:  white;

          }
        }
  
        .Episodes {
          display: flex;
          width: 100%;
          justify-content: center;


          .EpisodesContainer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}