@import "styles/fonts.scss";
@import "styles/colors.scss";
@import "styles/vars.scss";

.Container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: $dark-gradient;

  .Content {
    display: flex;
    height: 85%;
    flex-direction: row;

    .LocationInfo {
      display: flex;
      width: 55%;
      height: 85%;
      flex-direction: column;
      justify-content: center;
      margin-top: indent(6);
      margin-left: indent(12);

      .Name {
        color: $blue;
        font-size: $InfoLabel;
      }

      .Description {
        width: 60%;
        color: $white;
        font-size: $MainInfo;

        p {
          margin-top: indent(5);
          font-family: $SecondaryFont;
          font-weight: bold;
        }
      }
    }

    .Characters {
      display: flex;
      width: 600px;
      flex-direction: column;
      align-content: center;
      margin-top: indent(20);
      text-align: center;

      .Label {
        margin-bottom: indent(6);
        color: $white;
        font-family: $SecondaryFont;
        font-size: $Sublabel;
      }

      .Cards {
        display: flex;
        height: 100%;
        justify-content: center;

        p {
          color: $white;
        }
      }
    }
  }

  .Button {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: $SmallDesktop) {
  .Container {
    .Content {
      flex-direction: column;

      .LocationInfo {
        display: flex;
        width: 100%;
        height: 85%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: indent(7);
        margin-left: 0;
        text-align: center;

        .Name {
          font-size: $Label;
        }

        .Description {
          width: 60%;
          color: $white;
          font-size: $Title;

          .DescriptionNote {
            margin-top: indent(2);
          }
        }
      }

      .Characters {
        width: 100%;

        .Label {
          margin-bottom: indent(2);
          font-size: $Subtitle;
        }
      }
    }
  }
}

@media only screen and (max-width: $Tablet) {
  .Container {
    .Content {
      .LocationInfo {
        .Name {
          font-size: $Sublabel;
        }

        .Description {
          font-size: $Subtitle;
        }
      }
    }
  }
}
