@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/images.scss';

* {
  margin: 0;
  padding: 0;
  font-family: $PrimaryFont, $FallbackFont;
}

.banner {
  background-image: $dark-gradient, $background;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;

  .Lang {
    display: flex;
    position: absolute;
    background-color: transparent;
    margin-left: 90%;
    width: 20px;
    height: 15px;
    padding: 10px;

    button {
      background-color: transparent;
      background-size: cover;
      border-radius: 25px;
      border: none;
      width: 30px;
      height: 30px;
    }

    .LangRU {
      margin-left: 10px;

      button {
        background-image: url("../../img/RU.png");

        &:focus {
          border: 3px solid $blue;
        }
      }
    }

    .LangEN {
      button {
        background-image: url("../../img/EN.png");

        &:focus {
          border: 3px solid $blue;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $dark-gradient;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border: 5px solid $dark-gradient;
  border-radius: 10px;
  &:hover {
    background: darken($blue, $amount: 10);
  }
}
