@import 'styles/colors.scss';
@import 'styles/fonts.scss';

.CardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: #{$base-indent*4};
  
  .CardWrapper {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    overflow: hidden;
    border: 1px solid $blue;
    background: $dark-gradient ;
    border-radius: 10px;
    margin: #{$base-indent*4};
    justify-content: center;

    .CardContent {
      padding: #{$base-indent*2};
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .Description {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
        padding: #{$base-indent*2};

        a {
          color: $white;
          text-decoration: none;

          h2 {
            font-size: $Title;
            color: $blue;
          }
        }

        h6 {
          font-size: $Subtitle;
          font-family: $SecondaryFont;
        }
        p {
          font-size: $Description;
          font-family: $SecondaryFont;
          margin-top: $base-indent;
        }
      }

      .Residents {
        font-size: $Description;
        display: flex;
        flex-direction: column;

        a {
          margin-top: #{$base-indent*5};
          color: $white;
          text-decoration: none;
          font-family: $SecondaryFont;
        }

      }
    }
  }
}


