@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/vars.scss';
@import 'styles/images.scss';

.ModalOverlay {
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
}

.Modal {
  position: absolute;
  top: 100px;
  bottom: 100px;
  min-width: 400px;
  margin: 0 100px;
  background-image: $dark-gradient, $modalBackground;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 50px;
  border: 2px solid $blue;
  display: flex;
  flex-direction: column;

  .Close {
    position: absolute;
    right: 25px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-family: $FallbackFont;
    cursor: pointer;
  }

  .ModalContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;

    .Text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 80px;
      
      .Welcome {
        font-family: $FallbackFont;
        font-size: $Sublabel;
        color: $white;
        padding-left: 20px;
        text-align: center;
      }

      .Wishes {
        font-family: $FallbackFont;
        font-size: $Subtitle;
        color: $white;
        padding-left: 20px;
        text-align: center;
      }
    }

    .Episode {
      article {
        transform: scale(0.7);
        -webkit-animation-name: apearance;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        animation-name: apearance;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
      }
    }
  }

  @-webkit-keyframes apearance { 
    from { 
        -webkit-transform: scale(0.01); 
    } to { 
        -webkit-transform: scale(0.7); 
    }
  }
  @keyframes apearance { 
    from { 
        transform: scale(0.01); 
    } to { 
        transform: scale(0.7); 
    }
  }

}

@media only screen and (max-width: $SmallTablet) {
  .Modal {
    position: absolute;
    top: 70px;
    bottom: 70px;
    min-width: 300px;
    margin: 0 100px;
  
    .ModalContent {
      flex-direction: column-reverse;
      justify-content: center;

      .Text {
        padding-bottom: 10px;
        
        .Welcome {
          font-size: $CardRecord;
          padding: 0 20px 20px 20px;
        }
  
        .Wishes {
          padding: 0 20px;
        }
      }

      .Episode {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}