@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/vars.scss";

.CardWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 600px;
  height: 220px;
  border: 1px solid $blue;
  border-radius: 10px;
  margin: indent(4);
  background: $dark-gradient;

  .CardImage {
    width: 100%;
    flex: 2 1 0%;

    .Status {
      position: absolute;
      padding: indent(0.5);
      border-radius: 5px;
      margin: indent(1);
      background-color: $grey;
      color: $white;
      font-family: $SecondaryFont;
      font-size: $Description;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      opacity: 1;
      transition: opacity 0.5s ease 0s;
    }
  }

  .CardContent {
    position: relative;
    display: flex;
    flex: 3 1 0%;
    flex-direction: column;
    justify-content: center;
    padding: indent(2);
    color: $white;
    text-align: left;

    .NameSection {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;

      a {
        color: $white;
        text-decoration: none;

        .Name {
          color: $blue;
          font-size: $Title;
        }
      }

      .Info {
        font-family: $SecondaryFont;
        font-size: $Subtitle;
      }
    }

    .Description {
      display: flex;
      flex-direction: column;
      font-size: $Description;

      a {
        margin-top: indent(5);
        color: $white;
        font-family: $SecondaryFont;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: $SmallTablet) {
  .CardWrapper {
    max-width: 400px;
    height: 150px;
    margin: indent(2);

    .CardContent {
      .NameSection {
        a {
          .Name {
            font-size: $Subtitle;
          }
        }

        .Info {
          font-size: $MobileSubtitle;
        }
      }

      .Description {
        font-size: $MobileSubtitle;

        a {
          margin-top: indent(2);
        }
      }
    }
  }
}

@media only screen and (max-width: $Mobile) {
  .CardWrapper {
    width: 300px;
    height: 150px;
    margin: indent(2);

    .CardContent {
      .NameSection {
        a {
          .Name {
            font-size: $SmallSubtitle;
          }
        }

        .Info {
          font-size: $MobileSubtitle;
        }
      }

      .Description {
        font-size: $MobileSubtitle;

        a {
          margin-top: indent(2);
        }
      }
    }
  }
}
