@import 'styles/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/vars.scss';

.CardWrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  overflow: hidden;
  border: 1px solid $blue;
  background: $dark-gradient;
  border-radius: 10px;
  margin: indent(4);
  justify-content: center;

  .CardContent {
    padding: indent(2);
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .Description {
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
      padding: indent(2);

      a {
        color: $white;
        text-decoration: none;

        h2 {
          font-size: $Title;
          color: $blue;
        }
      }

      h6 {
        font-size: $Subtitle;
        font-family: $SecondaryFont;
      }

      .Characters {
        font-size: $Description;
        display: flex;
        flex-direction: column;

        p {
          margin-top: indent(5);
          color: $white;
          font-family: $SecondaryFont;
        }
      }
    }

    p {
      font-size: $Description;
      font-family: $SecondaryFont;
      margin-top: indent(1);
    }
  }
}